* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #292522;
    font-family: 'Anek Telugu', sans-serif;
    font-size: 21px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

/* Re-usable components */
/* Row */
.row {
    margin: 0 auto;
}

/* Header */
header {
    height: 100vh;
}

/* ------------------- Navigation -------------------------- */
nav {
    align-items: center;
    background-color: #292522;
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 999;
}

/* Logo */
#logo {
    font-family: 'Ms Madi', cursive;
    font-size: 120%;
    font-weight: 400;
    margin-right: 920px;
    cursor: hand;
}

#logo a {
    text-decoration: none;
    color: #FFAF00;
}

.nav__links {
    cursor: hand;
    align-items: center;
    background-color: #FFAF00;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 92vh;
    position: absolute;
    width: 50%;
    right: 0;
    top: 8vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
}

.nav__links li {
    list-style: none;
    opacity: 0;
}

.nav__links a {
    color: #292522;
    letter-spacing: 2px;
    font-size: 300%;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
}

/* ------------ Burger Menu ------------------------ */
.burger {
    display: block;
}

.burger div {
    cursor: hand;
    width: 25px;
    height: 3px;
    background-color: #FFAF00;
    margin: 5px;
}
/* ------------------------------------------------- */

.nav__active {
    transform: translateX(0%);
}

/* ------------------------ Animations ------------------------ */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
/* ------------------------------------------------------------ */

.content {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 90%;
    width: 90%;
    margin-top: 240px;
}

.hero p {
    color: #FFAF00;
    height: 100%;
    width: 100%;
    font-size: 650%;
    font-weight: 700;
}

/* --------- Overview Section ----------- */
.overview__section {
    padding: 3%;
}
.overview__section .row h2 {
    text-align: center;
    font-size: 200%;
    font-weight: 600;
    color: #FFAF00;
    padding-bottom: 20px;
}

.projects__section .row .col {
    margin-bottom: 50px;
}

.overview__section .row .col img {
    padding: 20px;
    height: 400px;
    width: 95%;
}
/* ---------------------------------- */

/* -------- Footer Section ------ */
.footer .row .col {
    padding: 5%;
}

.footer .row .col p {
    font-size: 55%;
    color: #FFAF00;
}

.footer .row .col p.contacts {
    text-decoration: underline;
    color: #FFAF00;
}

.socials a {
    text-decoration: none;
    color: #FFAF00;
}
/* ------------------------------ */
